/* -------------------------------------------------------------- Footer */

footer {
    margin-top: auto;
    /* bottom: 0;
    position: relative;   */
    padding: 20px 12px;
    /* width:100%; */
}

.footer-heading {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
}