<main class="container-fluid container-xxl h-auto my-4 mx-auto">
    <div class="content-index shadow-lg rounded px-4 w-100 mx-auto m-lg-3">
        <h2 class="fw-bold text-center my-1 p-3">Recent Projects</h2>
        <p class="text-justify text-md-center my-1 pb-3">
            Below are a collection of my recent projects. 
            Although I have been self-learning various coding languages for years, 
            below is an amalgamation of some of my more recent learning. 
            I am currently learning, growing, and improving my skill sets, 
            so everything here will likely evolve soon. Any suggestions for improvements to your user experience are welcomed, 
            so please contact me via the contact page.
        </p>
        <p class="text-justify text-md-center mb-1 pb-3">
            For more details about each project and my source code, visit 
            <a href="https://github.com/dnlbowers" target="_blank" rel="noopener" aria-label="Visit my github page(opens in new tab)">
                my GitHub Profile
            </a>   
        </p>
        <p class="text-justify text-md-center mb-1 pb-3">
            The other option? Skip the details and enjoy the final product by clicking the relevant button to launch the project.
        </p>
        
        <div class="py-3">
            <app-project-carousel  [projects]="projects$"></app-project-carousel>
        </div>
    </div>
</main>

