<main class="container pb-5 px-md-5 my-3 mx-auto content-index">
    <h2 class="fw-bold text-center p-3">Recent Projects</h2>
    <p class="m-3">
        Below are a collection of my recent projects. 
        Although I have been self-learning various coding languages for years, 
        below is an amalgamation of some of my more recent learning. 
        I am currently learning, growing, and improving my skill sets, 
        so everything here will likely evolve soon. Any suggestions for improvements to your user experience are welcomed, 
        so please contact me via the contact page.
    </p>
    <p class="m-3">
        For more details about each project and my source code, visit 
        <a href="https://github/dnlbowers" target="_blank" rel="noopener" aria-label="Visit my github page(opens in new tab)">
            my GitHub Profile
        </a>   
    </p>
    <p class="m-3 pb-3">
        The other option? Skip the details and enjoy the final product by clicking the relevant button to launch the project.
    </p>
    
    <div class="pt-3 pb-3 pr-2 pl-2 drop-bg-2 rounded-left rounded-right border-five">
        API data here
        <app-project-carousel  [projects]="projects$"></app-project-carousel>
        <!-- <div *ngFor="let project of projects$ | async">{{ project.title }}</div> -->
        <!-- *ngFor="let project of projects$ | async" -->
    </div>
</main>

