<ngb-carousel *ngIf="projects" class="carousel-dark">
    #carousel
	[interval]="300"
    [unpauseOnArrow]="unpauseOnArrow"
	[pauseOnHover]="pauseOnHover"
	[showNavigationIndicators]="showNavigationIndicators"
	(slide)="onSlide($event)"

	<ng-template ngbSlide *ngFor="let project of projects|async">
		<div class="picsum-img-wrapper rounded-4 border border-3 border-dark arousel carousel-dark slide">
			<img class="w-100 rounded-4" [src]=[project.screenshot] alt=[project.title]>
		</div>
		<div class="carousel-caption">
            <a [href]=[project.hosted_url] target="_blank" rel="noopener" [attr.aria-label]="'Opens ' + project.title + ' in new tab'">
				<h3 class="btn btn-lg btn-green btn-custom text-light">{{project.title}}</h3>
            </a>
		</div>
	</ng-template>
</ngb-carousel>


