<div class="row g-0 d-flex">
    <div [ngClass]="headerColor" class="col-lg-4 text-light border border-dark border-5 border-top-0">
        <div class="row g-0">
            <div class="col-12">
                <h3 class="mt-4 mb-2 text-uppercase text-center fw-bold">
                    The real me...
                </h3>
                <div class="text-center" *ngIf="profile">
                    <div class="p-2">
                        <img class="rounded-circle img-fluid border border-dark" [src]="[profile.avatar_url]" alt="Look its me in my clark kent disguise">
                    </div>
                    <p class="mt-3 fs-3"><span class="fw-bold">@{{profile.login}}</span></p>
                    <p>
                        <a class="text-light text-decoration-none" [href]="[profile.html_url]" 
                            target="_blank" rel="noopener" aria-label="Takes you to my github profile in a new tab">
                                {{profile.html_url}}
                        </a>
                    </p>
                    <p class="fw-bold text-capitalize">
                        <fa-icon [icon]="faCodeCommit" size="sm" [styles]="{'color': '#F2D541'}" aria-hidden="true"></fa-icon>
                        public repos: {{profile.public_repos}}
                    </p> 
                    <p class="fw-bold text-capitalize">
                        <fa-icon [icon]="faUserSecret" size="sm" [styles]="{'color': '#F2D541'}" aria-hidden="true"></fa-icon>
                        followers: {{profile.followers}} 
                    </p> 
                    <p class="text-justify text-lg-start px-4">
                        Hey there! I'm a Core Ops Engineer by day and a coder by night. I specialize in web development (Ecommerce), 
                        but I love experimenting with different languages and technologies. Being a full-stack developer with a diploma in 
                        software development I have experience in Python, HTML, CSS, Django, Flask, JavaScript, jQuery, Git and more. I've 
                        been known to debate with myself "code or sleep," and usually, code wins.
                    </p>
                    <p class="text-justify text-lg-start px-4">                            
                        Feel free to check out my repos, and let's connect if you want to hire me, collaborate or simplychat about code!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 bg-light border border-dark border-5 border-top-0">
        <div class="row g-0">
            <div class="col">
                <h3 class="mt-4 mb-3 text-uppercase text-center text-lg-start fw-bold">How I spend my Free time</h3>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-12 col-md-6 mb-3">
                <div class="row g-0">
                    <!-- <div class="col-2">
                        <fa-icon [icon]="faBookOpen" size="2x" [styles]="{'color': '#F20530'}" aria-hidden="true" [fixedWidth]="true"></fa-icon>
                    </div> -->
                    <div class="col-12">
                        <h4 class="text-uppercase text-center text-md-start px-4">
                            <!-- <fa-icon [icon]="faBookOpen" [styles]="{'color': '#F20530'}" aria-hidden="true" [fixedWidth]="true" class="pe-1"></fa-icon>  -->
                            Reading
                        </h4>
                        <p class="px-4 text-justify">
                            When I'm not coding, you can find often me reading fantasy novels to expand my imagination and 
                            non-fiction to expand my logical thought patterns, whilst challenging my own points of view. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

