/* ----------------------------------------------------------------------------------------------------------------- generalize styles */

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;   
}

body {
    height: 100vh !important;
}

/* -------------------------------------------------------- Text colors */
.text-red {
    color: #F20530;
}

.text-yellow {
    color: #F2D541;
}

.blue-text-shadow {
    text-shadow: -2px 4px #28397d; 
}

.black-text-shadow {
    text-shadow: -2px 4px #000;
}



/* --------------------------------------------- Background colors */

.bg-blue {
    background-color: #28397d !important;
}

.bg-black {
    background-color: #0D0500;
}

.bg-green {
    background-color: #026873 !important;
}

.bg-red {
    background-color: #F20530;
    
}

.bg-yellow {
    background-color: #F2D541;
    
}


.hero-bg {
    background-color: #026873;
    
}
.main-bg {
    background-color: #026873;
    
}

.content-index {
    background-color: #F2D541;
    border: 6px solid;
    padding: 6px;
}


/* ------------------------------------------------------------- Borders */

.border-top-red {
    border-top: 2px solid #F20530;
}

.boarder-bot-red {
    border-bottom: 2px solid #F20530;
}

/* ------------------------------------------------------------- Buttons*/

.btn-green {
    background-color: #004a52;

}

.btn-green:hover, .btn-green:focus {
    background-color: #004a52;
    text-shadow: 3px 5px 5px #28397d; 
    border: 3px solid #000;
}

.btn-blue {
    background-color: #28397d
}

.btn-blue:hover, .btn-blue:focus {
    background-color: #213480;
    text-shadow: 3px 5px 5px #F2D541; 
    border: 3px solid #000;
}

.btn-custom {
    border: 3px solid #000;
    margin: 0 auto;
    text-shadow: 3px 5px 5px #000;
    font-weight: bold;
}

.btn-custom:hover, .btn-custom:focus {
    color: #Fafafa !important;
    font-size: 1.5rem !important;
    font-weight: bold;
}
