<ngb-carousel *ngIf="projects" class="carousel-dark border border-5 border-dark">
    #carousel
	[interval]="300"
    [unpauseOnArrow]="unpauseOnArrow"
	[pauseOnHover]="pauseOnHover"
	[showNavigationIndicators]="showNavigationIndicators"
	(slide)="onSlide($event)"

	<ng-template ngbSlide *ngFor="let project of projects|async">
		<a [href]=[project.hosted_url] target="_blank" rel="noopener" [attr.aria-label]="'Opens ' + project.title + ' in new tab'">
			<div class="picsum-img-wrapper carousel carousel-dark slide">
				<img class="w-100" [src]=[project.screenshot] alt=[project.title]>
			</div>
		
			<div class="carousel-caption mb-2">
				<h3 class="d-none d-md-inline gold-plaque mx-auto border border-dark border-3 rounded shadow-lg px-3 py-2 
					text-capitalize fw-bold">
					{{project.title}}
				</h3>
			</div>
		</a>
	</ng-template>
</ngb-carousel>


