::ng-deep .carousel-indicators button.active {
    background: linear-gradient(to right, #BF935f, #fcf6Ba, #Fbf587, #AA771c) !important;
    border: 1px solid #28397d;
    margin-top: 10px;
}

::ng-deep .carousel-indicators button {
    opacity: 1 !important;
}

::ng-deep .carousel-indicators {
    margin-bottom: 0;
}

::ng-deep .carousel-control-next-icon, ::ng-deep .carousel-control-prev-icon {
    background-color: #28397d !important;
    border-radius: 50%;
    opacity: 0.8;
}

.gold-plaque {
    background: linear-gradient(to right, #BF935f, #fcf6Ba, #Fbf587, #AA771c) !important;
    color: #000;
    text-shadow: 1px 2px 0px #fafafa;
}
