<main class="container-fluid container-xxl h-auto my-4 mx-auto">
    <div class="content-index shadow-lg rounded w-100 mx-auto">
        <h2 class="my-1 p-2 fw-bold text-center">Qualifications</h2>
        <p class="text-justify text-md-start my-1 pb-3 px-3 px-md-5">
            I am an avid believer in self-study and do not believe any institution can accurately grade 
            someone's value based on a set of criteria. However, I have included this section within 
            my portfolio to prove my capability to follow guidelines, meet requirements, and keep 
            to set deadlines. 
        </p>
        <p class="text-justify text-md-start my-1 pb-3 px-3 px-md-5">
            I am constantly learning via various online resources. The below will only include qualifications 
            from a centrally registered institution using a professionally recognized grading system to qualify 
            for the certificate.
        </p>
        <p class="text-justify text-md-start my-1 pb-3 px-3 px-md-5">
            For now, this section will stay bare as I am more focused on building practical skills 
            and real solutions to problems. That being said, this sole diploma was a massive milestone for 
            me, having never been an academic person. To view the course's transcript, click the below image 
            to be taken to credential.net.  
        </p>
        <div class="pb-2 px-2 px-md-5 mb-md-4 text-center">
            <a href="https://www.credential.net/83cdc37f-964d-4bfb-ae4c-1c80840edb57" aria-label="Opens certification via Credential.net in a new tab" target="_blank" rel="noopener">
                <img class="border border-dark border-3 img-fluid"
                    src="https://res.cloudinary.com/df4m8hva5/image/upload/c_scale,c_limit,w_600,h_424,dpr_auto/v1673803387/Diploma_ojrbmu.jpg" 
                    alt="Fullstack Software Developer Diploma"
                >
            </a>  
        </div>
    </div>
</main>

