<footer class="container-fuild bg-black border-top-red">
    <div id="footer-details" class="row g-0 mr-0">
        <div class="col-md-4 text-center px-2">
            <h3 class="uppercase footer-heading text-red">About</h3>
            <p class="inline-block text-light">
                Full Stack Web Developer. Skilled in everything from HTML
                to Heroku. The capacity for structural and design thinking.
            </p>
        </div>
        <div class="col-md-4 text-center px-2">
            <h3 class="uppercase footer-heading text-red">Download</h3>
            <p class="inline-block text-light">
                Need a printable version of my CV?
                Download it here.
            </p>
            <a href="../../assets/DavidBowersCV.pdf" download target="_blank">
                <fa-icon [icon]="faDownload" size="2x" 
                    [fixedWidth]="true" [styles]="{'color': 'white'}"></fa-icon>
                <span class="sr-only">Download Link</span>
            </a> 
        </div>
        <div class="col-md-4 text-center px-2">
            <h3 class="uppercase footer-heading text-red">Social</h3>
            <p class="block text-light">
                Find Me on Social
            </p>
            <ul class="list-inline social-links">
            <li class="list-inline-item">

                <a href="https://www.linkedin.com/in/dnlbowers/" aria-label="Check out my profile on linkedin" rel="noopener" target="_blank">
                    <fa-icon [icon]="faLinkedin" size="2x" 
                        [fixedWidth]="true" [styles]="{'color': 'white'}"></fa-icon>
                    <span class="sr-only">Linked In</span>
                </a>
            </li>
            <li class="list-inline-item"> 
                <a href="https://github.com/dnlbowers" aria-label="Check out my profile on github" rel="noopener" target="_blank">
                    <fa-icon [icon]="faSquareGithub" size="2x" 
                        [fixedWidth]="true" [styles]="{'color': 'white'}"></fa-icon>
                    <span class="sr-only">Github</span>
                </a>
            </li>
            </ul>
        </div>
    </div>
    <div class="text-center fs-6 pt-5 pb-1 text-light text-muted">
        &copy; DNLBowers 2023
    </div>
</footer>