.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    /* border-radius: 0; */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

#message {
    min-height: 350px;
}

@media screen and (min-width: 768px) {
    #review-msg {
        min-width: 600px !important;
    }
}
    

@media screen and (min-width: 1400px) {
    * {
        font-size: 1.25rem;
    }
    
}