<main class="container pb-5 px-md-5 my-5 mx-auto content-index">
    <h2 class="fw-bold text-center p-3">Qualifications</h2>
    <p class="m-3">
        I am an avid believer in self-study and do not believe any institution can even grade 
        someone's value based on a set of criteria. However, I have included this section within 
        my portfolio to prove my capability to follow guidelines, meet requirements, and keep 
        to set deadlines. 
    </p>
    <p class="m-3">
        I am constantly learning via various online resources. The below will only include qualifications 
        from a centrally registered institution using a professionally recognized grading system to qualify 
        for the certificate.
    </p>
    <p class="m-3">
        For the time being, this section will stay bare as I am more focused on building practical skills 
        and real solutions to problems. That being said, this sole diploma was a massive milestone for 
        me, having never been an academic person. To view the course's transcript, click the below image 
        to be taken to credential.net.  
    </p>
    <div class="text-center mt-5">
        <a href="https://www.credential.net/83cdc37f-964d-4bfb-ae4c-1c80840edb57" aria-label="Opens certification via Credential.net in a new tab" target="_blank" rel="noopener">
            <img class="border border-dark border-3"
                src="https://res.cloudinary.com/df4m8hva5/image/upload/v1673803387/Diploma_ojrbmu.jpg" 
                alt="Fullstack Software Developer Diploma"
            >
        </a>  
    </div>
</main>

