<main class="container pb-5 px-md-5 my-3 mx-auto content-index">
    <h2 class="fw-bold text-center p-3">Qualifications</h2>
    <p class="m-3">
        I am an avid believer in self study, and do not believe any institution can even grade someones value. 
        However to prove I can follow guide lines, meet required criteria, and keep to set deadlines I have decided to
        include this section to demonstrate I am capable. I am constantly learning via various resources online and below
        will only include those which are from a centrally registered institution, and using a professionally recognized grading system
        used in order to obtain the certificate.
    </p>
    <p class="m-3">
        Currently this well stay a little bare as I am more focused on building practical skills building real solutions to problems.
        That said this one certificate was a huge milestone for me having never been and academic person. To view the course transcript
        Click the below image to be taken to credential.net 
    </p>
    <div class="text-center">
        <a href="https://www.credential.net/83cdc37f-964d-4bfb-ae4c-1c80840edb57" aria-label="Opens certification via Credential.net in a new tab" target="_blank" rel="noopener">
            <img
                src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/65362785" 
                alt="Fullstack Software Developer Diploma"
            >
        </a>  
    </div>
</main>

