<main class="container-fluid container-xxl h-auto my-4 my-md-5">
    <div class="content-index shadow-lg rounded w-100 mx-auto">
        <h2 class="fs-1 fw-bold text-center my-1 p-3">Recent Projects</h2>
        <p class="text-justify text-md-start pb-3 px-3 px-md-5">
            Below is a collection of my recent projects. Although I have self-learned various coding for several years, the projects 
            below amalgamate my current learning. Any suggestions for improvements to your user experience are welcome. For more 
            details about each project and my source code, visit 
            <a href="https://github.com/dnlbowers" target="_blank" rel="noopener" aria-label="Visit my github page(opens in new tab)">
                my GitHub Profile.
            </a> 
        </p>
        <p class="text-justify text-md-start mb-1 pb-3 px-3 px-md-5">
            I continuously learn, grow, and improve my skill sets, so everything here will likely 
            evolve soon. I am happy to collaborate or take on project ideas. If you're interested 
            in building something, please contact me via the <a routerLink="/contact">contact page.</a>
        </p>
        <div class="pt-4 pb-2 px-2 px-md-5">
            <app-project-carousel [projects]="projects$"></app-project-carousel>
            <p class="text-center mt-3 p-3">*Click the image above to be taken to the deployed site.</p>
        </div>
    </div>
</main>

