<nav class="navbar navbar-expand-md bg-black boarder-bot-red navbar">
    <div class="container-fluid px-0">
      <a (click)="activeToggle()" class="navbar-brand text-yellow blue-text-shadow ms-3 fs-3" routerLink="/">
        <fa-icon [icon]="faLaptopCode"></fa-icon>
        <h1 id="title" class="text-red d-inline">  Dev-Bowers </h1> 
        <fa-icon [icon]="faCode"></fa-icon>
      </a>
    
      <button class="navbar-toggler text-light me-1 me-md-3" 
        type="button" [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarSupportedContent" 
            aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
      >
        <span class="text-light"><fa-icon [icon]="faBars"></fa-icon></span>
      </button>
      <div class="navbar-collapse" [class.collapse]="isCollapsed" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 ms-md-auto me-md-3 mb-lg-0">
          <li class="nav-item px-3 px-md-1">
            <a (click)="activeToggle()" class="nav-link link-light fs-5" 
              routerLink="/" 
                [routerLinkActive]="['active']" 
                  [routerLinkActiveOptions]="{exact:true}"
              >
              Home
            </a>
          </li>
          <li class="nav-item px-3 px-md-1">
            <a (click)="activeToggle()" class="nav-link link-light fs-5" 
              [routerLinkActive]="['active']" 
                [routerLinkActiveOptions]="{exact:true}" 
                routerLink="/portfolio"
              >
              Portfolio
            </a>
          </li>
          <li ngbDropdown class="nav-item dropdown px-3 px-md-1">
            <a [class.active]="makeParentActive" class="nav-link dropdown-toggle fs-5 link-light" role="button" aria-expanded="false" ngbDropdownToggle>
              Showcase
            </a>
            <ul ngbDropdownMenu class="dropdown-menu p-0 border border-dark border-3 overflow-hidden">
              <li ngbDropdownItem class="p-0">
                <a (click)="activeParentTrue()" class="dropdown-item text-light fw-bolder drop-bg-1 p-3 fs-5 black-text-shadow"
                  [routerLinkActive]="['active']" 
                  [routerLinkActiveOptions]="{exact:true}" 
                  routerLink="/showcase/cv">
                  Digital CV
                </a>
              </li>
              <li ngbDropdownItem class="p-0">
                <a (click)="activeParentTrue()" class="dropdown-item text-light fw-bolder drop-bg-2 p-3 fs-5 black-text-shadow border border-dark border-3 border-start-0 border-end-0" href="#"
                  [routerLinkActive]="['active']" 
                  [routerLinkActiveOptions]="{exact:true}" 
                  routerLink="/showcase/certifications">
                  Certificates
                </a>
              </li>
              <li ngbDropdownItem class="p-0">
                <a class="dropdown-item text-light fw-bolder drop-bg-3 p-3 fs-5 black-text-shadow" 
                  href="https://github.com/dnlbowers" aria-label="Check out my profile on github" 
                    rel="noopener" target="_blank">
                    Github
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item px-3 px-md-1">
            <a (click)="activeToggle()" class="nav-link fs-5 text-light"
              [routerLinkActive]="['active']" 
                [routerLinkActiveOptions]="{exact:true}" 
                  routerLink="/contact">
                  Contact Me
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>