/* -------------------------------------------------------------- Navbar */

#title {
    font-weight: 700;
}

.navbar-toggler {
    font-size: 2rem; 
}

.link-light:hover, .link-light:focus {
    color: #F20530 !important;
    font-size: 1.5rem !important;
    font-weight: bold;
}