/* -------------------------------------------------------------- Navbar */
.navbar {
    min-height: 144px;
    margin-bottom: auto;
}

#title {
    font-weight: 700;
}

.navbar-toggler {
    font-size: 2rem; 
}

.link-light:hover, .link-light:focus, .active {
    color: #F20530 !important;
    font-size: 1.5rem !important;
    font-weight: bold;
    text-shadow: -2px 4px #28397d; 
}

.drop-bg-1 {
    background-color: #004a52 !important;
}

.drop-bg-2 {
    background-color: #28397d !important;
}

.drop-bg-3 {
    background-color: #F20530 !important;
}