<div class="row g-0 d-flex">
    <div [ngClass]="workColors" class="col-lg-4 order-2 order-lg-1 section-column">
        <div class="row g-0">
            <div class="col-12">
                <h3 class="mt-4 mb-2 text-uppercase text-center fw-bold">
                    work history
                </h3>
            </div>
        </div>
        <div class="mb-3">
            <div class="timeline-item" data-dates="08/2018 - Present">
                <h4 class="ms-1">Greentube</h4>
                <p class="mt-1 ms-2 pb-1">Present Role:</p>
                <p class="ms-3 pb-1">Core Operations Engineer</p>
                <p class="mt-1 ms-2 pb-1">01/05/19 - 13/06/22:</p>
                <p class="ms-3 pb-1">NOC Engineer</p>
                <p class="mt-1 ms-2">13/08/18 - 01/05/19:</p>
                <p class="ms-3">Uk Customer Service Representative</p>
            </div>
            <div class="timeline-item" data-dates="09/2016 - 08/2018">
                <h4 class="m-0">JYSK Malta</h4>
                <p class="ms-3 p-1 mb-0 pb-0">Store Supervisor</p>
            </div>
            <div class="timeline-item" data-dates="01/2013 - 06/2016">
                <h4 class="m-0">HSBC</h4>
                <p class="ms-3 p-1">Unsecured Lending Specialist</p>
            </div>
        </div>
    </div>
    <div [ngClass]="skillsColors" class="col-lg-8 order-1 order-lg-2">
        <div class="row g-0">
            <div class="col">
                <h3 class="mt-4 mb-3 text-uppercase text-center text-lg-start fw-bold">my skills</h3>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-12 col-md-6 mb-3">
                <div class="row g-0">
                    <!-- <div class="col-2 text-center">
                        <fa-icon [icon]="faTv" [styles]="{'color': '#F20530'}" aria-hidden="true"></fa-icon>
                    </div> -->
                    <div class="col-12">
                        <h4 class="text-uppercase text-center text-md-start">
                            <fa-icon [icon]="faTv" [styles]="{'color': '#F20530'}" aria-hidden="true" class="pe-1"></fa-icon> 
                            Front end
                        </h4>
                        <p class="px-4 text-justify">
                            I'm skilled in User Experience Design using the trinity of HTML/CSS/Javascript.
                            I also have extensive experience in Front End Frameworks such as Angular
                            and React
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="row g-0">
                    <!-- <div class="col-2 text-center">
                        <fa-icon [icon]="faGears" [styles]="{'color': '#F20530'}" aria-hidden="true"></fa-icon>
                    </div> -->
                    <div class="col-12">
                        <h4 class="text-uppercase text-center text-md-start">
                            <fa-icon [icon]="faGears" [styles]="{'color': '#F20530'}" aria-hidden="true" class="pe-1"></fa-icon> 
                            backend
                        </h4>
                        <p class="px-4 text-justify">
                            I specialize in data-driven web applications. Many of my projects
                            utilise document-based data. I use Python and Django in conjunction
                            with MongoDB to process and present information.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col d-flex flex-column p-3">
                <p class="border border-black rounded-pill">
                    <ngb-progressbar [ariaLabel]="'current percentage of time using / learning HTML / HTML5'" 
                        type="primary"  [value]="95">
                            <b>HTML/HTML5</b>
                    </ngb-progressbar>
                </p>
                <p class="border border-black rounded-pill">
                    <ngb-progressbar [ariaLabel]="'current percentage of time using / learning CSS / Bootstrap'" 
                        type="info" [value]="85">
                            <b>CSS/Bootstrap</b>
                    </ngb-progressbar>
                </p>
                <p class="border border-black rounded-pill">
                    <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Javascript / JQuery / Jest / Postman'" 
                        type="warning" [value]="85" [textType]="'dark'">
                            <b>Javascript/JQuery/Jest/Postman</b>
                    </ngb-progressbar>
                </p>
                <p class="border border-black rounded-pill">
                    <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Django / DRF / Python / Unittest'" 
                        type="success" [value]="90">
                            <b>Django/DRF/Python/Unittest</b>
                    </ngb-progressbar>
                </p>
                <p class="border border-black rounded-pill">
                    <ngb-progressbar [ariaLabel]="'current percentage of time using / learning TypeScript/Angular'" 
                        type="danger" [value]="80">
                            <b>TypeScript/Angular</b>
                    </ngb-progressbar>
                </p>
                <p class="border border-black rounded-pill">
                    <ngb-progressbar [ariaLabel]="'current percentage of time using / learning SQL / ORM / NoSQL'" 
                        type="secondary" [value]="90">
                            <b>SQL/ORM/NoSQL</b>
                    </ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>