<main class="d-flex container-fluid container-xxl h-auto my-3 row g-3 mx-auto">
    <div class="main-bg order-2 order-lg-1 rounded p-0 mx-auto col-12 col-lg-6 col-xl-5">
        <img id="hero" class="img-fluid" src="assets/images/superIdeas.svg" alt="super ideas require super solutions">
    </div>
    <div class="d-flex order-1 order-lg-2 main-bg col-12 col-lg-6 col-xl-7">
        <article class="content-index shadow-lg rounded w-100 mx-auto m-lg-3">
            <h2 class="text-center fs-1 fw-bold px-3 py-3">Hello World!</h2>
            <p class="text-justify text-md-center px-3 pb-3">
                My name is David and I am now and always will be a developing developer. Even when I have mastered 100
                languages
                I still hope to be able to refer to myself as developing as in my opinion if the knowledge required for
                development
                doesn't increase as my experience expands, then my peers and I are not doing a good enough job at innovating
                in the field.
            </p>
            <p class="text-justify text-md-center px-3 pb-3">
                To see more of my work click the button below to be taken to my evolving portfolio gallery.
            </p>
            <div class="text-center pb-3">
                <a class="btn btn-lg text-light btn-custom btn-green" routerLink="/portfolio" role="button">
                    My Portfolio
                </a>
            </div>
        </article>
    </div>
</main>
