<div class="row g-0 d-flex">
    <div [ngClass]="workColors" class="col-lg-4 order-2 order-lg-1 section-column">
        <div class="row g-0 mt-lg-3">
            <div class="col-12">
                <h3 class="mt-4 mb-3 pb-lg-3 text-uppercase text-center fw-bold">
                    <fa-icon [icon]="faBriefcase" [styles]="{'color': '#000'}" aria-hidden="true" size="xs" class="pe-1 d-lg-none"></fa-icon>
                    <fa-icon [icon]="faBriefcase" [styles]="{'color': '#fafafa'}" aria-hidden="true" size="xs" class="pe-1 d-none d-lg-inline"></fa-icon>
                    work history
                </h3>
            </div>
        </div>
        <div class="mb-3 my-md-4 mt-lg-0 ps-2 ps-sm-4 d-sm-flex flex-column align-items-end">
            <div class="timeline-item" data-dates="06/2022 - Present">
                <h3 class="ms-1">Greentube Malta</h3>
                <h4 class="ms-3 pb-1">Core Operations Engineer</h4>
                <ul class="mb-0">
                    <li>
                        Server setup/management.
                    </li>
                    <li>
                        Monitoring/maintaining production systems.
                    </li>
                    <li>
                        Incident investigation/resolution.
                    </li>
                </ul>
            </div>
            <div class="timeline-item" data-dates="01/2022 - 04/2022">
                <h3 class="mb-0">Code Institute</h3>
                <h4 class="ms-3 p-1 mb-0 pb-0">Channel Lead</h4>
                <ul class="mb=0">
                    <li>
                        Assisted students on through the course.
                    </li>
                    <li>
                        Hosted several webinars on key topics.
                    </li>
                    <li>
                        Held weekly code clinic in the channel where students could ask questions.
                    </li>
                </ul>
            </div>
            <div class="timeline-item" data-dates="05/2019 - 06/2022">
                <h3 class="mb-0">Greentube Malta</h3>
                <h4 class="ms-3 pb-1">NOC Engineer</h4>
                <ul class="mb=0">
                    <li>
                        Monitoring KPIs and SLAs.
                    </li>
                    <li>
                        Incident reporting and management.
                    </li>
                    <li>
                        B2B support/communication.
                    </li>
                    <li>
                        Troubleshooting and escalation. 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div [ngClass]="skillsColors" class="col-lg-8 order-1 order-lg-2">
        <div class="row g-0">
            <div class="col ">
                <h3 class="mt-4 mb-3 p-md-3 text-uppercase text-center fw-bold">my skills</h3>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-12 col-md-6 mb-3 p-md-3">
                <div class="row g-0">
                    <div class="col-12 p-md-3">
                        <h4 class="text-uppercase text-center">
                            <fa-icon [icon]="faTv" [styles]="{'color': '#F20530'}" aria-hidden="true" class="pe-1"></fa-icon> 
                            Front end
                        </h4>
                        <p class="px-4 text-justify">
                            I'm skilled in User Experience Design using the trinity of HTML/CSS/Javascript.
                            I also have experience in Front End Frameworks such as Angular using TypeScript.
                        </p>
                    
                        <div class="d-flex flex-column px-4">
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning HTML / HTML5'" 
                                    type="primary"  [value]="95">
                                        <b class="text-start ps-2">HTML / HTML5</b>
                                </ngb-progressbar>
                            </p>
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning CSS / Bootstrap'" 
                                    type="info" [value]="85" [textType]="'dark'">
                                        <b class="text-start ps-2">CSS / Bootstrap</b>
                                </ngb-progressbar>
                            </p>
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Javascript / JQuery'" 
                                    type="warning" [value]="85" [textType]="'dark'">
                                        <b class="text-start ps-2">Javascript / JQuery</b>
                                </ngb-progressbar>
                            </p>

                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning TypeScript/Angular'" 
                                    type="danger" [value]="50">
                                        <b class="text-start ps-2">Angular / Typescript</b>
                                </ngb-progressbar>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="row g-0">
                    <div class="col-12 p-md-3">
                        <h4 class="text-uppercase text-center">
                            <fa-icon [icon]="faGears" [styles]="{'color': '#F20530'}" aria-hidden="true" class="pe-1"></fa-icon> 
                            backend
                        </h4>
                        <p class="px-4 text-justify">
                            Fluent in APIs, Object relations mapping, and PostgreSQL. My primary weapon for the back 
                            end is currently Python and Django. However, I am forever diversifying this and have a pass with C#. 
                        </p>
                        <div class="col d-flex flex-column px-4">
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / Python'" 
                                    type="warning"  [value]="80" [textType]="'dark'">
                                        <b class="text-start ps-2">Python</b>
                                </ngb-progressbar>
                            </p>
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Django / DRF'" 
                                    type="success" [value]="90">
                                        <b class="text-start ps-2">Django / Django Rest Framework</b>
                                </ngb-progressbar>
                            </p>
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning C sharp / dotnet'" 
                                    type="primary" [value]="40">
                                        <b class="text-start ps-2">C# / Dotnet</b>
                                </ngb-progressbar>
                            </p>

                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning SQL / ORM / NoSQL'" 
                                    type="danger" [value]="80">
                                        <b class="text-start ps-2">SQL/ORM/NoSQL</b>
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row g-0">
            <div class="col-12 col-md-6 mb-3 mx-auto">
                <div class="row g-0">
                    <div class="col-12 p-md-3">
                        <h4 class="text-uppercase text-center">
                            <fa-icon [icon]="faBug" [styles]="{'color': '#F20530'}" aria-hidden="true" class="pe-1"></fa-icon> 
                            Testing
                        </h4>
                        <p class="px-4 text-justify">
                            I enjoy nothing more than working code. For this reason, I have invested time into learning 
                            the following testing frameworks.
                        </p>
                        <div class="col d-flex flex-column px-4">
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Postman'" 
                                    type="warning"  [value]="65" [textType]="'dark'">
                                        <b class="text-start ps-2">Postman</b>
                                </ngb-progressbar>
                            </p>
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Unittest'" 
                                    type="success" [value]="70">
                                        <b class="text-start ps-2">Unittest</b>
                                </ngb-progressbar>
                            </p>

                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning SQL / ORM / NoSQL'" 
                                    type="danger" [value]="65">
                                        <b class="text-start ps-2">Jest</b>
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 mx-auto">
                <div class="row g-0">
                    <div class="col-12 p-md-3">
                        <h4 class="text-uppercase text-center">
                            <fa-icon [icon]="faNetworkWired" [styles]="{'color': '#F20530'}" aria-hidden="true" class="pe-1"></fa-icon> 
                            Ops & Monitoring
                        </h4>
                        <p class="px-4 text-justify">
                            Although I am qualified in software development, my journey into IT began on the operations side. From this 
                            experience, I gained good overall knowledge server management, monitoring tools and alerting.
                        </p>
                        <div class="col d-flex flex-column px-4">
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Postman'" 
                                    type="warning"  [value]="85" [textType]="'dark'">
                                        <b class="text-start ps-2">Monitoring Tools</b>
                                </ngb-progressbar>
                            </p>
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning Postman'" 
                                    type="primary"  [value]="80">
                                        <b class="text-start ps-2">Windows Server</b>
                                </ngb-progressbar>
                            </p>
                            <p class="border border-black rounded-pill">
                                <ngb-progressbar [ariaLabel]="'current percentage of time using / learning SQL / ORM / NoSQL'" 
                                    type="danger" [value]="65">
                                        <b class="text-start ps-2">Linux</b>
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>