.section-column {
    display: table-cell;
    padding: 0 10px 10px 20px;
    float: none;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
    width: 100% !important;

}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: ' ';
    background-color: #000;
}

@media only screen and (min-width: 576px) {
    .timeline-item {
        width: 85%!important;
    }
}

@media only screen and (min-width: 768px) {
    .timeline-item {
        width: 65%!important;
    }
}




@media only screen and (min-width: 992px) {
    .timeline-item:after {
        width: 12px;
        height: 12px;
        display: block;
        top: 2.4em;
        position: absolute;
        left: -6px;
        border-radius: 12px;
        content: ' ';
        background-color: #fafafa;
    }

    .timeline-item {
        width: 100%!important;
    }
}
