<main class="d-flex container-fluid container-xxl h-auto my-3 row g-3 mx-auto">
    <div class="main-bg order-2 order-lg-1 rounded p-0 mx-auto col-12 col-lg-6 col-xl-5">
        <img id="hero" class="img-fluid" src="assets/images/superIdeas.svg" alt="super ideas require super solutions">
    </div>
    <div class="d-flex order-1 order-lg-2 main-bg col-12 col-lg-6 col-xl-7">
        <article class="d-flex flex-column justify-content-around content-index shadow-lg rounded w-100 mx-auto m-lg-3 p-md-5">
            <h2 class="text-center align-items-center fs-1 fw-bold text-uppercase pb-3">
                Hello<angular-emojis [name]="'earth_africa'"></angular-emojis>World 
            </h2>
            <p class="text-justify px-3 pb-3">
                My name is David, and I am proud to declare I am a developing developer. I use the term 
                "developing" here not to indicate freshness to the field nor as a verb to describe what I do in 
                my professional role. Instead, I use it in this context to suggest that I am committed to lifelong 
                learning. Should I reach a point where I can no longer grow in this field, then this would be a sad 
                day for humanity as it failed to build upon the many possibilities of developing technologies.
            </p>

            <p class="text-justify px-3 pb-3">
                I specialize in Full stack e-commerce websites; however, the range of services I can provide is 
                limited only by imagination. If you want to develop an app or website, drop me a message, so 
                we can discuss your requirements further. 
            </p>
            <div class="text-center pb-3">
                <a class="btn btn-lg text-light btn-custom btn-green rounded-0 m-1" routerLink="/portfolio" role="button">
                    My Portfolio
                </a>
                <a class="btn btn-lg text-light btn-custom btn-blue rounded-0 m-1" routerLink="/portfolio" role="button">
                    Contact Me
                </a>
            </div>
        </article>
    </div>
</main>
