.bg-blue {
    background-color: #28397d !important;
}

.bg-black {
    background-color: #0D0500;
}

.bg-green {
    background-color: #026873;
    
}

.bg-red {
    background-color: #F20530;
    
}

.bg-yellow {
    background-color: #F2D541;
    
}