<main class="content-index container-fluid container-lg my-5">
    <header class="border border-dark border-3 border-bottom-0 border-end-0 row g-0 mx-auto">
            <span class="col-md-4">
                <img src="" alt="Placeholder">
            </span>
            <div class="col-md-8">
                <div class="row g-0 bg-black fw-bold text-white border border-dark border-3 border-top-0">
                    <div class="col p-3">
                        <h2 class="fs-1 fw-bold">David Bowers</h2>
                        <h3 class="fs-4">Full Stack Developer</h3>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-12 text-center">
                        <ul id="nav" ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs list-inline row g-0">
                            <li [ngbNavItem]="1" class="col-6 col-sm-3 border border-dark border-3 border-top-0 bg-green">
                                <a ngbNavLink href="#" class="text-light text-decoration-none fs-4 fw-bold p-3">Resume</a>
                                <ng-template ngbNavContent>
                                    <p>Test resume</p>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" class="col-6 col-sm-3 border border-dark border-3 border-top-0 border-start-0 bg-blue">
                                <a ngbNavLink href="#" class="text-light text-decoration-none fs-4 fw-bold p-3">Interests</a>
                                <ng-template ngbNavContent>
                                    <p>test interests</p>
                                </ng-template>
                            </li>
                            <li class="col-6 col-sm-3 border border-dark border-3 border-top-0 border-start-0 bg-red">
                                <a href="#" class="text-light text-decoration-none fs-4 fw-bold p-3">GitHub</a>
                            </li>
                            <li class="col-6 col-sm-3 border border-dark border-3 border-top-0 border-start-0 bg-black">
                                <a href="#" class="text-light text-decoration-none fs-4 fw-bold p-3" target="_blank">Download CV</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
    </header>
</main>