<header class="container-fluid container-lg border border-dark border-3 border-bottom-0 border-end-0 row g-0 mx-auto">
        <span class="col-md-4">
            <img src="" alt="Placeholder">
        </span>
        <div class="col-md-8">
            <div class="row g-0 bg-blue fw-bold text-white border border-dark border-3 border-top-0">
                <div class="col p-3">
                    <h1>David Bowers</h1>
                    <h2>Full Stack Developer</h2>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-12 text-center">
                    <ul id="nav" class="list-inline row g-0">
                        <li class="col-6 col-sm-3 border border-dark border-3 border-top-0">
                            <a href="#"><span>Resume</span></a>
                        </li>
                        <li class="col-6 col-sm-3 border border-dark border-3 border-top-0 border-start-0">
                            <a href="#"><span>Interests</span></a>
                        </li>
                        <li class="col-6 col-sm-3 border border-dark border-3 border-top-0 border-start-0">
                            <a href="#"><span>GitHub</span></a>
                        </li>
                        <li class="col-6 col-sm-3 border border-dark border-3 border-top-0 border-start-0">
                            <a href="#" target="_blank"><span>Download CV</span></a>
                        </li>
                    </ul>
                </div>
        </div>
        
        </div>
</header>