.bg-blue {
    background-color: #28397d !important;
}

.bg-black {
    background-color: #0D0500 !important;
}

.bg-green {
    background-color: #026873 !important;
    
}

.bg-red {
    background-color: #F20530;
    
}

.bg-yellow {
    background-color: #F2D541;
    
}

li > a {
    display: block;
    height: 100%;
    width: 100%;
    
}

.nav-tabs .nav-link {
    border-radius: 0 !important;
}

.active {
    background-color: inherit !important;
    font-size: 1.5rem !important;
    font-weight: bold;
    border-radius: 0;
    /* text-shadow: -2px 4px #F2D541; */
    /* border-left: 2px solid #000;
    border-right: 2px solid #000a;
    border-bottom: 2px solid #000; */
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}